form {
    margin-top: 9.375em;
    margin-left: 3.125em;
    margin-right: 3.125em;
    z-index: 1;
}

button {
    background-color: #0b4377;
    /* Hintergrundfarbe */
    color: #FFFFFF;
    /* Textfarbe */
    border: none;
    /* Rahmen */
    padding: 0.625em;
    /* Innenabstand */
    text-align: center;
    /* Ausrichtung Text */
    font-size: 1em;
    /* Schriftgröße */
    transition: background-color 0.4s;
    /* Animierte Änderung der Eigenschaft background-color */
}

button:hover {
    background-color: #1366b4;
    color: #FFFFFF;
}

textarea {
    z-index: 1000;
    resize: none;
    overflow: auto;
    width: 100%;
    overflow: hidden;
}

header {
    z-index: 2;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #0b4377;
    transition: padding 300ms ease;
}

header.sticky {
    padding: 0.65em 1.25em;
}

a.nav__link {
    margin-right: 0.65em;
    font-size: 0.875em;
    color: #0b4377;
    text-decoration: underline;
}

a.nav__link:last-child {
    margin-right: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0b4377;
}

li {
    float: left;
    border-right: 0.063em solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0b4377;
}

.active {
    background-color: #0b4377;
}

.myZulagen {
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-100%);
}


/* Modal Content */

.myZulagen-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 0 24px 38px 3px rgba(60, 75, 100, 0.14);
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.75s ease;
    transition-property: opacity, transform;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.visible {
    transform: translateY(0%);
}

.visible>.myZulagen-content {
    transform: translateY(0%);
    opacity: 1;
}

.dropdown-menu {
    padding: 0;
}


.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 22px; /* Set input font size */
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 396px;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 22px;  /* Set suggestion dropdown font size */
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
